<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <div class="nav navbar-nav" sec:authorize="isAuthenticated()">
                    <a href="/chats" class="btn btn-outline-light" th:text="#{menu.rooms}" style="margin: 5px">Chats</a>
                    <button  class="btn btn-outline-light" data-toggle="modal" data-target="#newChatRoomModal" id="newChatRoom" th:text="#{menu.new.room}"></button>
                </div>
            </div>
            <div class="dropdown" style="margin: 5px">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLangMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lang</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="english" href="?lang=en" th:text="#{menu.language.english}">English</a>
                    <a class="dropdown-item" id="russian" href="?lang=ru" th:text="#{menu.language.russian}">Russian</a>
                </div>
            </div>
            <div class="dropdown" sec:authorize="isAuthenticated()">
                <form action="/logout">
                    <button type="submit" class="btn btn-outline-light">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</header>
</body>
</html>